createdAt: "2018-10-08T09:44:41.332Z"
updatedAt: "2018-10-10T13:25:03.715Z"
type: "MARKDOWN_NOTE"
folder: "6e864326aa979b510561"
title: "p1"
content: '''
  # p1
  
  ## 医療・健康サービスを年齢別に図示
  ![IMG_2428.JPG](../images/IMG_2428.JPG)
  
  ## ヒューマンレコーダシステムの構成
  IEEE 2008 Sensorsに発表されたもの。
  
  ## 生体研究技術の潮流
  1. ゲノムの解析によるテーラーメード医療の進展
    今後や将来かかりやすい病気を予測。個々の遺伝子の特徴に応じたオーダーメイドの薬。高度な治療を必要とする病気を予防する個別適合の薬や食物。
  2. クラウド・コンピューティングによる高度診断
    スパコンの能力ぐらいで、ストレスや感情を見分ける等、複雑系である人間システムの診断も正確に。
  3. 先端医療技術の革新
    マイクロナノデバイス技術を用いたDNAの検出を行うバイオチップ等が開発され、また遠隔で使える手術機器も。
  4. ウエアラブルセンサによる常時モニタリング
  5. PHR(Pernal Health Record)の高度化
  
    4,5は、すでに実用の域に達しているものも。
  1. 長時間のモニタによる生体リズムに基づくヘルスケア、現代社会特有の疾患(慢性疲労症候群等)を予防または解消するツールの開発
  2. 人体各所に分散されたセンサとメモリ、処理ユニット間をワイアレスで結ぶネットワークの研究
  3. インプランタブルなデバイス、バイオネット機器の研究
  
  以下に、生体現象のセンシングから得られる人間情報を活かす流れを図示している。
  一例として熱中症についてたどると、深部温度から環境温度との差を求めるとともに、脈波から変動を求めて交感・副交感神経の活動度を解析し、これらのデータの統合により熱中症状態を推定する。
  ![IMG_1517.JPG](../images/IMG_1517.JPG)
  
  ### 情報ウエアラブルと環境ウエアラブル
  情報ウェアラブルは、身体における頭脳、目、耳、口、鼻などの五感に対応。対して環境ウェアラブルは、主に皮膚からの拡張であり、足や手の拡張である。
  
  #### 人体密着型ウェアラブルとその進化としてのフレキシブルでディスポーザルな生体センサ
  最近流行りのウォッチ型やリスト型に比べ、2020年に世界で1.7億枚を超える市場規模に急成長するという予測も有る。→[参考資料](http://www.fujiroth.com/report/hci/02.pdf)
  
  ## ウェアコンの世界
  ### これまで
  大消費電力システム(エアコンとか)で一斉に冷暖房する。豊富な電力エネルギーを前提に。
  
  ### 大枠の技術→「ウェアラブル局所冷暖房技術」
  - 家電レベルでの酷暑環境での作業能率向上機器
  - 家庭や事務所での省エネ機器や健康増進機器
  - 医療機器としての局所冷暖房応用
  
  ### 人体の仕組みの話
  「熱さ」が皮膚温で決まるのに対し、「暑さ」は深部温で決まる。
  最適な深部温である37℃を保つために、視床下部で血流温と最適温度を比較する。
  前者が高ければ交感神経が活発化して発汗と血管の拡張が起こり、体表から熱を放出する。結果として血瘤温が下がり、深部温及び脳内温度が下がる。視床下部で最適温度と脳内温度の差が小さくなったと判断すれば発汗が止まる。このフィードバック機構により、脳内温度は最適温度±0.1℃に保たれる。以下が図示。
  ![IMG_5956.JPG](../images/IMG_5956.JPG)
  よって、脳に近く、動脈が体表近くを通る首を冷やすのが効果的。
  
  ### 実験①
  #### 確認したいこと
  頸部だけの冷却が快適性と作業効率に有効であるかどうか
  #### 概要と結果
  室温32℃で、16人中11人の快適性が増加した。
  **作業能率の指標であるCPT(Continuos Performance Test)**反応時間は、平均で10%短縮された。
  
  ### 実験②
  #### 概要
  暑熱環境(温度31℃、相対湿度を50%RH、風速0.15m/s)を模擬した環境制御室。
  被験者は20~40歳代の健常な男性9名及び20歳代の健常な女性4名。
  衣服は軽装。
  一般的な室温レベル(22℃)で適応させたあと制御室に入室。
  入室から100分経過後の快不快度のVASによる主観評価の比較を行った。
  #### 結果
  12人のうち半数以上が快適度が高まったと評価。有意な差。
  
  #### 追加で調査
  熱環境の変化やウェアコンの装着でどのように気分が変化するか調査。
  #### 結果
  熱ストレスに対して、不快度と生理的覚醒度を上昇(高緊張覚醒)させる積極反応群と、不快度は上昇させるが生理的覚醒度は低下(低エネルギー覚醒)させる消極反応群の2つの存在が明らかに。
  #### 考察
  現在、エネルギー覚醒と緊張覚醒の生理学的基盤は明らかでない。
  しかし前者はドーパミン神経系、後者はノルアドレナリン神経系をそれぞれ基盤とすると考えられている。
  したがって、熱ストレスに対して積極反応はノルアドレナリンを亢進させ、消極反応はドーパミン神経系を抑制するものであることが推察できる。以下が図示。
  ![IMG_4337.JPG](../images/IMG_4337.JPG)
  
'''
tags: []
isStarred: false
isTrashed: false
