createdAt: "2018-11-16T07:40:35.880Z"
updatedAt: "2018-11-16T08:40:41.914Z"
type: "MARKDOWN_NOTE"
folder: "6e864326aa979b510561"
title: "博士論文 日常生活における自律神経機能の計測と評価に関する研究"
content: '''
  # 博士論文 日常生活における自律神経機能の計測と評価に関する研究
  - 著者 
  駒澤 真人 (博士) 
  - [論文URL](http://www.lib.kobe-u.ac.jp/repository/thesis2/d1/D1006751.pdf)
  - [要旨URL](http://www.lib.kobe-u.ac.jp/repository/thesis/d1/D1006751y.pdf)
  
  # 背景
  生活のストレスを分析しようとすると、以下の必要性が上がってくる。
  - #### 長期データの必要性
    昔から「闘争か逃走か」時には交感神経、体を治すときは副交感神経を有意にすることで、自律神経活動は緊急時・弛緩時を制御してきた。
    現代ではストレスが長期化し、交感神経が有意なまま下がらないという事態が起きている。そうして、さまざまな弊害が体にもたらされる。
    ストレスを分析しようと思うと、時間を長くとってデータを手に入れる必要がある。
  
  - #### 多様なデータの必要性
    通常センサーを用いてデータを取る際、専用のセンサーを配布したり、場合によっては病院に1週間ほど入院する必要が出てくるほど。
    そうなるとデータを集めることがコストになり、どうしてもサンプル数が少なくなる。
    
  今回の提案は、これらの必要性を満たす形になっている。
  
  # 特徴
  - 高度・専門的なセンサーではなく、「スマホカメラ」をセンサーに
  - 日常的に携帯している「スマホ」で計測とEMAをセットで取る
  - 10万データといった「ビッグデータ」からみる、生体と地域、天気、生活習慣の関係
  
  # 要旨
  ### 自立神経とは
  - 交感神経
    - 分泌腺・血管・内蔵などを支配する神経。
    - 精神興奮や運動に際して、唾液を分泌し、血圧・血糖を高める
    - 皮膚・内蔵の血管を収縮させて血液を筋肉・脳に集める
  - 副交感神経
    - 大部分は迷走神経
    - 伝達物質としてアセチルコリンを分泌
    - 心臓に対して抑制、胃腸に対しては促進の作用
    - 胆汁分泌の促進、涙や唾液の分泌促進、瞳孔散大などの作用。
  
  これらは、身体的ストレスに加えて心理的ストレスの影響を受ける。
  
  ### 既往の測定手法
  - 唾液中の
    - 内分泌活動→コルチゾール
    - 免疫活動→*sIgA*
    - 交感神経活動→αアミラーゼ
  - 心拍センサーや指先脈波で取得した心拍変動を用いる
    - 1~5分間のRR間隔のゆらぎを解析
    - 呼吸周期の変動を表すHF(0.15~0.40Hz)と、血圧変動を反映するLF(0.05~0.15Hz)
    - HF→副交感神経の支配、LFは交感神経と副交感神経の両方の支配。
  - 顔の画像や指先の皮膚の色から脈拍を計測する
    - 脈波のピークを大まかに検出してピーク間隔を算出して心拍数を推定するにとどまり、ピーク間隔を推定はできていない
  
  ### システムの概要
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
