createdAt: "2018-11-16T07:40:35.880Z"
updatedAt: "2018-11-17T07:29:40.102Z"
type: "MARKDOWN_NOTE"
folder: "6e864326aa979b510561"
title: "博士論文 日常生活における自律神経機能の計測と評価に関する研究"
content: '''
  # 博士論文 日常生活における自律神経機能の計測と評価に関する研究
  - 著者 
  駒澤 真人 (博士) 
  - [論文URL](http://www.lib.kobe-u.ac.jp/repository/thesis2/d1/D1006751.pdf)
  - [要旨URL](http://www.lib.kobe-u.ac.jp/repository/thesis/d1/D1006751y.pdf)
  
  
  
  # 背景
  ---
  生活のストレスを分析しようとすると、以下の必要性が上がってくる。
  - #### 長期データの必要性
    昔から「闘争か逃走か」時には交感神経、体を治すときは副交感神経を有意にすることで、自律神経活動は緊急時・弛緩時を制御してきた。
    現代ではストレスが長期化し、交感神経が有意なまま下がらないという事態が起きている。そうして、さまざまな弊害が体にもたらされる。
    ストレスを分析しようと思うと、時間を長くとってデータを手に入れる必要がある。
  
  - #### 多様なデータの必要性
    通常センサーを用いてデータを取る際、専用のセンサーを配布したり、場合によっては病院に1週間ほど入院する必要が出てくるほど。
    そうなるとデータを集めることがコストになり、どうしてもサンプル数が少なくなる。
    
  今回の提案は、これらの必要性を満たす形になっている。
  
  
  # 特徴
  ---
  - 高度・専門的なセンサーではなく、「スマホカメラ」をセンサーに
  - 日常的に携帯している「スマホ」で計測とEMAをセットで取る
  - 10万データといった「ビッグデータ」からみる、生体と地域、天気、生活習慣の関係
  
  # 概要
  ---
  ### 自立神経とは
  - 交感神経
    - 分泌腺・血管・内蔵などを支配する神経。
    - 精神興奮や運動に際して、唾液を分泌し、血圧・血糖を高める
    - 皮膚・内蔵の血管を収縮させて血液を筋肉・脳に集める
  - 副交感神経
    - 大部分は迷走神経
    - 伝達物質としてアセチルコリンを分泌
    - 心臓に対して抑制、胃腸に対しては促進の作用
    - 胆汁分泌の促進、涙や唾液の分泌促進、瞳孔散大などの作用。
  
  これらは、身体的ストレスに加えて心理的ストレスの影響を受ける。
  
  ### 既往の測定手法
  - 唾液中の
    - 内分泌活動→コルチゾール
    - 免疫活動→*sIgA*
    - 交感神経活動→αアミラーゼ
  - 心拍センサーや指先脈波で取得した心拍変動を用いる
    - 1~5分間のRR間隔のゆらぎを解析
    - 呼吸周期の変動を表すHF(0.15~0.40Hz)と、血圧変動を反映するLF(0.05~0.15Hz)
    - HF→副交感神経の支配、LFは交感神経と副交感神経の両方の支配。
  - 顔の画像や指先の皮膚の色から脈拍を計測する
    - 脈波のピークを大まかに検出してピーク間隔を算出して心拍数を推定するにとどまり、ピーク間隔を推定はできていない
  
  ### システムの概要
  1. クライアント(スマホ)で指先の色(輝度)を取得
  2. サーバーで脈は波形からRR間隔を検出してグラフ化
  3. RR間隔を周波数解析して自律神経指標を算出
  4. クライアントに自律神経指標を可視化
  
  - 開発言語はJavaとObjective-Cを使用
  - 血流に含まれるヘモグロビン量の変化→指先の皮膚の色が微妙に変化するため、スマホカメラとライトで指先を照らし、輝度変化を観測する
  
  ### 解析処理の実際
  #### 輝度データの取得アルゴリズム
  実装例を参照。概要としては、
  1. 各ピクセルの輝度値を、RGB値から計算→Y(x, y)。(式1)
  2. 各ピクセルの輝度値を全ピクセルで平均化→Y。(式2)
  3. Yの対数を取る(式3)
  - 輝度値のサンプリング間隔は約0.05秒で、離散値化の幅(ビット数)は8ビット。
  - 指がカメラからずれていると、警告が出る。
  
  #### 輝度データのノイズ除去とピーク検出アルゴリズム
  輝度値Yは高周波成分のノイズが大きい→データを平滑化するために、[Savitzky-Golay法](https://pdfs.semanticscholar.org/4830/d47ba1c971b657fd670497b3bf3316993f93.pdf)を適用。前後の点(自分含めて奇数点)を使用する。
  各係数は元論文の係数表を用いる。
  
  ![image](images/IMG_2C0D105A26E4-1.jpeg)
  そうしてスムージングしたデータからRR間隔を算出する。
  
  **スムージングされるデータポイント数であるウインドウ幅(m-1)は、想定されるRR間隔の範囲が0~2秒として、その範囲内でウインドウ幅を0.01秒ずつ変化させ、式3の標準偏差が最も小さくなるように設定する。次数は3**
  
  
  #### 異常値除去アルゴリズム
  1. X拍分の移動平均でmeanHR(X)を算出する。前の心拍との変動がY以下であるHR(n)のみを移動平均の計算に使用する。
  2. meanHR(X)との差がZを超える心拍データ(RR間隔)をエラー値として除去。X=8, Y=15, Z=30としている。これらは筆者らの[既往の研究例※1](http://ahi-soc.info/pdf/19thAHI_proceedings.pdf)を参考に決定している。**<u>?参考にしたとは、どのように?</u>**
  3. 異常値は除外して、時間を詰めてフーリエ変換へ。
  4. 実測のうち欠損が20%未満のデータのみ使用している。
  
  #### ノイズ除去アルゴリズム
  高周波ノイズを除去するために、移動平均法による平滑化処理を施す(式1)。
  1.RR間隔波形は不等間隔の離散値データであるため、**<u>?等間隔で0.01秒毎にリサンプリング。?</u>**
  移動平均の個数は、RR間隔波形の標準偏差(式2)が最小になる移動平均の個数nを設定。
  
  #### 自律神経算出アルゴリズム
  自律神経指標は、国際標準手法である[この論文①とする](https://www.escardio.org/static_file/Escardio/Guidelines/Scientific-Statements/guidelines-Heart-Rate-Variability-FT-1996.pdf)を元に算出。
  HFとLFが自律神経を反映しているとしている①。
  TPは疲労と関係があると言われている①。
  LF/HFは自律神経のバランスとして、交感神経機能を純粋に反映していると言われている①。
  
  
  ### 精度の話
  スマホカメラでのRR間隔と、専用の[指先脈波センサ](http://www.winfrontier.com/lifescorequick.html)での比較をして精度を測った。このセンサーはホルター心電計と精度比較して遜色ないもの。
  - 21~60歳の男女5名に5回ずつ、明るい部屋で座って、片手にスマホカメラ、片手はホルター心電計。
  - スマホは、iphone5,6と、Xperia, Galaxy, AQUOS。
  - 
  
  
  
  
  
  <br>
  <br>
  <br>
  <br>
  ※1...既往の研究は以下の画像。その前の研究が自律神経指標のTP計算の参考にしているのは[この論文](https://www.escardio.org/static_file/Escardio/Guidelines/Scientific-Statements/guidelines-Heart-Rate-Variability-FT-1996.pdf)。ちなみにLnTPはTPの対数。
  
  ---
  <details>
    <summary>Appendix</summary>
    <h2> これから調べること</h2>
      <select> Bonferroniの手法による多重比較法</select>
  </details>
  
  
  
  
  
  
  
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
