createdAt: "2018-11-17T07:14:50.315Z"
updatedAt: "2018-11-17T07:15:00.957Z"
type: "SNIPPET_NOTE"
folder: "6e864326aa979b510561"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
