createdAt: "2018-11-17T07:15:03.364Z"
updatedAt: "2018-11-17T07:16:10.602Z"
type: "MARKDOWN_NOTE"
folder: "6e864326aa979b510561"
title: "HRVを利用してシステムやビジネスに落とし込もうとしている、京大の先生の研究。2017年のもので、書き方も厳密で良い。時間有るときにまとめる。"
content: '''
  ###  [HRVを利用してシステムやビジネスに落とし込もうとしている、京大の先生の研究。2017年のもので、書き方も厳密で良い。時間有るときにまとめる。](https://www.jstage.jst.go.jp/article/isciesci/61/9/61_381/_pdf)
  
'''
tags: []
isStarred: false
isTrashed: false
