createdAt: "2018-11-14T12:52:48.368Z"
updatedAt: "2018-11-14T14:13:10.357Z"
type: "MARKDOWN_NOTE"
folder: "6e864326aa979b510561"
title: "ストレスに負けない脳"
content: '''
  # ストレスに負けない脳
  ### 主張
  **ストレスは厳しい状況の元で人間の体を守ってくれるが、慢性的に作動すると有害になり、病気を悪化させる。**
  
  
  #### 闘争か逃走か
  1. どちらにしても、動物は普段より多くの酸素を筋肉に送る必要がある。
  2. →酸素を体内に入れるために呼吸が激しくなり、酸素を血液を通して筋肉に送るために心拍数が上がる。
  3. 傷を追っても出血を少なくするために、皮膚の血管が収斂する。
  4. 激しい運動に必要な燃料を供給するため、蓄積していた炭水化物を液化して血液に流す
  5. 免疫系からは、白血球が血管の壁に付着し、いつでも負傷した部分に行く準備をする
  
  →ストレスが長期化すると、心臓と肺に重点がおかれるため、免疫反応は後回しにされる。
  
  ![緊急時の反応](/research/images/IMG_0929.JPG)
  
  ### アロスタティック負荷(load)
  アロスタシスの反応がアロスタティック負荷に変わる時↓
  - 必要なくなったのに反応が止まらない(激論を交わしたあと数時間経っても気が収まらない)
  - 繰り返されるストレスに対応しなくなるとき(仕事で同じ試練を度々受け、毎回不安に襲われる)
  - 慢性的・不適切に作動して体の主要なシステムが体に害を及ぼし、最終的にはシステムが機能しなくなるとき
  
  #### 認知機能→生理的反応への影響
  - 悪い状況を予想しただけで不安になり、アロスタティック負荷が悪化する
  
  #### 痛みが不快であるのはあたりまえではない
  - モントリオール大学で1997年の実験
  - 被験者には、意識がある状態と催眠にかかった状態で熱い湯に手を入れる
  - 催眠にかかった方にに痛みの感じ方が変化した
  - PET(陽電子放出断層撮影法)では、情動にかかわる前頭部の帯状回と呼ばれる部位に相応の変化
  - ↑に対して、痛みを感じる体性感覚野には変化なし
  - 結論、痛みは感覚的に認知されるだけでなく、情動的な面も持っている。
  
  ### ストレスの定義はサケが教えてくれる
  ストレスとは、**ホメオスタシスに対する単なる脅威ではなく、HPA軸を積極的に活性化する状態を指す**
  細菌は熱ショックタンパク質(熱や周囲の環境の急激な変化に対して活性化するDNAから作られるもので、傷んだタンパク質を探し出し、修復したり廃棄することでホメオスタシスを守る)だけで十分。
  サケは、外的環境の刺激が神経やホルモンの反応連鎖を引き起こしてはじめてストレスを感じている。
  
  
  
  
'''
tags: []
isStarred: false
isTrashed: false
