createdAt: "2018-11-14T12:52:48.368Z"
updatedAt: "2018-11-18T01:33:18.333Z"
type: "MARKDOWN_NOTE"
folder: "6e864326aa979b510561"
title: "ストレスに負けない脳"
content: '''
  # ストレスに負けない脳
  ### 主張
  **ストレスは厳しい状況の元で人間の体を守ってくれるが、慢性的に作動すると有害になり、病気を悪化させる。**
  
  
  #### 闘争か逃走か
  1. どちらにしても、動物は普段より多くの酸素を筋肉に送る必要がある。
  2. →酸素を体内に入れるために呼吸が激しくなり、酸素を血液を通して筋肉に送るために心拍数が上がる。
  3. 傷を追っても出血を少なくするために、皮膚の血管が収斂する。
  4. 激しい運動に必要な燃料を供給するため、蓄積していた炭水化物を液化して血液に流す
  5. 免疫系からは、白血球が血管の壁に付着し、いつでも負傷した部分に行く準備をする
  
  →ストレスが長期化すると、心臓と肺に重点がおかれるため、免疫反応は後回しにされる。
  
  ![緊急時の反応](/research/images/IMG_0929.JPG)
  
  ### アロスタティック負荷(load)
  アロスタシスの反応がアロスタティック負荷に変わる時↓
  - 必要なくなったのに反応が止まらない(激論を交わしたあと数時間経っても気が収まらない)
  - 繰り返されるストレスに対応しなくなるとき(仕事で同じ試練を度々受け、毎回不安に襲われる)
  - 慢性的・不適切に作動して体の主要なシステムが体に害を及ぼし、最終的にはシステムが機能しなくなるとき
  
  #### 認知機能→生理的反応への影響
  - 悪い状況を予想しただけで不安になり、アロスタティック負荷が悪化する
  
  #### 痛みが不快であるのはあたりまえではない
  - モントリオール大学で1997年の実験
  - 被験者には、意識がある状態と催眠にかかった状態で熱い湯に手を入れる
  - 催眠にかかった方にに痛みの感じ方が変化した
  - PET(陽電子放出断層撮影法)では、情動にかかわる前頭部の帯状回と呼ばれる部位に相応の変化
  - ↑に対して、痛みを感じる体性感覚野には変化なし
  - 結論、痛みは感覚的に認知されるだけでなく、情動的な面も持っている。
  
  ### ストレスの定義はサケが教えてくれる
  ストレスとは、**ホメオスタシスに対する単なる脅威ではなく、HPA軸を積極的に活性化する状態を指す**
  細菌は熱ショックタンパク質(熱や周囲の環境の急激な変化に対して活性化するDNAから作られるもので、傷んだタンパク質を探し出し、修復したり廃棄することでホメオスタシスを守る)だけで十分。
  サケは、外的環境の刺激が神経やホルモンの反応連鎖を引き起こしてはじめてストレスを感じている。
  
  ### 三位一体脳
  - 脳は内側から外側に向かって進化したという説。
  - ポール・マクリーン(米国立精神衛生研究所)が提唱
  
  
  **1. "爬虫類脳"**
    - 神経系の一番古い部分である脊髄とすぐ上の脳幹
    - 心拍や呼吸、血圧調節、筋肉の反射的行動、渇き、温度調節など。
  
  **2. "古哺乳類脳"**
  - 脳幹を囲む古皮質部分で、辺縁系を含む
  - 欲求や反応(食料探しやケンカ、交尾、子どもとの絆)が、情動となる
  - 爬虫類との差分で出すんだろうな。爬虫類は子ども食べちゃうらしいし。
  
  **3. 大脳皮質**
  - 脊椎動物には必ず存在するが、ヒトの脳はずっと発達している。
  - 随意筋のコントロール
  - 前部を占める大脳前頭前野は思考(自己認識、抽象的な思考、記憶など)を担う
  
  
  ### 海馬のお話
  ##### 記憶の仕組み
  海馬は外界で起きていることと海馬が保持している記憶とを比較し、それが大きく異なれば、直ちに行動を起こす。
  そのとき恐怖心や非常に強いプラスの感情がからむと扁桃体も活性化する。海馬は扁桃体と連動して、感情的な出来事を顕在記憶として貯蓄する。だから、感情が大きく伴う記憶は復習によって補強されなくても残りやすい。
  
  ##### 機能
  エピソード記憶と陳述記憶に重要な役割を果たす。
  また、強い感情が絡んだ出来事が起きたときにの環境の記憶(周辺状況的記憶)にも重要。
  
  
  
  *?子供のころの記憶がないのはなぜ?*
    6歳までは、3歳のころの記憶の80%があるのに、7歳になるともう思い出せない→幼児期健忘と呼ぶ。
  1. 記銘の失敗説...未発達の脳は記憶を長期的に定着するのが上手くない
  2. 検索の失敗説...古い神経細胞は残って新しい神経細胞が作られるが、そのときにネットワークの再構築が行われ、記憶にアクセスできなくなる
  
  ## 神経伝達物質のお話
  ##### 神経伝達物質とレセプターの相互作用
  神経伝達物質が正しいレセプターと結びついた時、以下の反応例。
  - 感情が起こったり
  - 記憶が形成されたり
  - 痛みの衝撃が走ったり
  - 痛みが緩和されたり
  - HPA軸が活性化されたり
  - 緊急反応が必要なくなったという信号が出されたり
  
  ex. セロトニンを受け入れるレセプターは14種類あり、もっとあるかも。
  
  神経伝達物質は脳の化学的メッセンジャーとして使われるが、体内の神経細胞間で伝達されるもの、という意味。
  
  **内分泌腺に伝達されるものは、正確には神経ホルモン**である。
  
  *?神経伝達物質とホルモンの違いとは?*
  ##### 神経伝達物質
  - 神経細胞間(腕と腕の間)を移動する
  - 伝達物質が移動する距離はごく短く、ほぼ神経細胞や体細胞内を電気信号によって伝えるので、早い
  
  ##### ホルモン
  - 内分泌腺(下垂体や副腎、甲状腺等)で作られ、血液を通して対象の臓器まで運ばれるもの
  - 対象の臓器に着くと、酵素の活性を変化させるため、代謝過程を直接刺激することになる。
  
  
  ## 遺伝子のお話
  遺伝子の役割は病気や素質を子孫に伝えることだけでない。
  体内で起こることすべて、および"心"の中で起こることの多くは遺伝子が働いた結果である。
  骨や筋肉など構造タンパク質や酵素、抗体、ホルモン、神経伝達物質レセプターなどの生成は、関連遺伝子の情報がタンパク質に"翻訳"されて行われる。
  この時点で遺伝子は"発現"する。
  
  <details><summary>みんなが知りたい問(小池が直面している、日々試している問)</summary><br>
    - 理性によって、人はどこをどれくらい変えられるの？
  
  </details>
'''
tags: []
isStarred: false
isTrashed: false
