createdAt: "2018-11-30T06:59:59.128Z"
updatedAt: "2018-11-30T09:17:39.346Z"
type: "MARKDOWN_NOTE"
folder: "6e864326aa979b510561"
title: "心理職のためのエビデンス・ベイスト・プラクティス"
content: '''
  # 心理職のためのエビデンス・ベイスト・プラクティス
  
  
  ---
  
  ### 見かけの効果の種類
  - 平均への回帰
    測定誤差で外れ値が出た後は、要因が変わらずとも平均に近い値が確率的に高く出る.
  - 共介入
    別の治療による効果.
  - 経時的変化
    子どもに対しての介入など、成長や時間経過に伴う効果.
  - プラセボ効果
    「期待」による効果
  
  ![見かけの効果と真の効果の差](images/IMG_0973.jpg)
  
  ---
  
  ### EBP
  心理学におけるエビデンスに基づく実践とは、患者の特性、文化、好みに照らし合わせて、活用できる最善の研究成果を臨床技能と統合すること。
  
  一人ひとりユニークな個人に提供する治療法をどのように選択するのかが主眼。
  大多数の人に当てはまる可能性の大きいデータや、目の前のクライアントの背景・好みを考慮するのがEBPの本質。
  
  ---
  
  ### EBM
  Evidence-Based Medicineとは、研究による最善のエビデンスと臨床的技能、および患者の価値観を統合するものである。
  1. エビデンス
    先行研究から質の高いものを吟味し、それらを統合して、ある介入には効果があるのかに関して最新最善のエビデンスを得ること
    <br>
  2. 患者の価値観
    得られたエビデンスを目の前の患者の症状、背景、価値観、好みなどと照らし合わせて適切に応用すること
    <br>
  3. 臨床技能
    一人ひとりの患者の状態を把握したり、介入の利益とリスク、自分自身の臨床技術や経験を吟味したりする医療提供者側に求められる能力。
    
  ---
  
  ### エビデンスのヒエラルキー
  | レベル | エビデンス源(研究デザイン) |
  | -- | -- |
  | 1 | RCTの統計的レビュー(メタアナリシス) |
  | 2 | 個々のRCT |
  | 3 | 準実験 |
  | 4 | 観察研究(コホート研究、ケース・コントロール研究) |
  | 5 | 事例集積研究 |
  | 6 | 専門家の意見(研究データの批判的吟味を欠いたもの) |
  
  - 事例集積研究...事例を集めても、強い根拠とするには弱い。
  - 準実験...ランダム化しない臨床研究
  
  ![ケースコントロール研究](images/IMG_0974.jpg)
  
  ---
  
  ## ランダム化比較実験(RCT)
  
  ---
  
  #### 手順
  1. リサーチ・クエスチョンを設定する
  2. 参加者をランダムに群分けする
  3. 介入を実施する
  4. アウトカムを比較する
  
  ---
  
  #### 1. リサーチ・クエスチョンを設定する
  ##### PICO...
  - P (participant) : 参加者「誰を対象として」
  - I (Intervention) : 介入「どのような介入を」(=独立変数)
  - C (Comparison) : 比較「何と比較したら」
  - O (Outcome) : 結果「何がどうなるか」(=従属変数)
  
  例
  - P: 寛解期の統合失調症患者に対して
  - I: SSTを行った場合
  - C: 通常ケアのみに比べて
  - O: 3年後までの再発が抑制されるか
  
  ##### サンプルサイズの計算
  次の3種類の情報が必要になる。
  1. 予想される効果量
  2. 有意水準 (α)
  3. 検出力 (1-β)
    2.は0.05か0.01、3.は0.8または0.9とすればよい。3.をあまり低くすると、第二種の過誤(実際には差があるのにないと結論すること)を導きやすくなる。
  
  効果量は類似研究やパイロット研究を元に推定する。
  小さい効果を検出するなら大きいサンプルが必要になる。このときには第二種の過誤に注意する。
  逆に根拠もなく大きいサンプルでは、第一種の過誤(効果がないのに有意差ありとしてしまう)になりやすい。
  計算方法の詳細は、例えば統計ソフトのstataを使用する等。
  
  ##### アウトカムの定義
  「主要アウトカム」と、それより重要度は落ちるが効果の指標となる測度を「副次的アウトカム」とする。
  
  #### 2. ランダム化
  - ブロックランダム化
    参加者をブロックごとにわけて、そこからランダムに割り付けを行う。群の偏りを減らせる。ブロックサイズは群の数の2倍以上の整数倍。
  - 層化
    「男性」「女性」等先に層ごとに分け、その中でランダム割付を行う。ブロックランダム化を併用することも。
  ランダム化は実験者の恣意性が入らないよう、第三者に割付を担当してもらう等が大事。
  
  #### 3. 介入を実施する
  盲検化(自分がどちらの割当かわからないこと)が必要。どちらの割当かわかることによる効果への影響がある。これをパフォーマンス・バイアスという。
  
  #### 4. アウトカムを比較する
  - アウトカム評定の盲検化
    評定者が「これは対照群のもの」等わかってしまうと、評定に影響が出る。
  - ITT解析
    脱落者もそのままデータとして使う。効果がでなかったものとして。
    
  ##### 効果量の算出
  - 標準化平均差...連続量
    d=標準化平均差効果量(Cohen's d)
    M1=介入群のスコアの平均値, M2=対照群のスコアの平均値
    Sp=両群のプールした標準偏差
  $$
  d = \\frac{M_1 - M_2}{S_p}
  $$
  
  
  - リスク比...2値
  RR=リスク比
  P1=介入群のリスクの割合, P2=対照群のリスクの割合
  リスク比は、両群の効果がない割合を比較したもの。
  $$
  RR = \\frac{P_1}{P_2}
  $$
  
  ![効果量の種類と大きさの目安](images/IMG_0976 2.JPG)
  
  
  ---
  
  ![統計的レビューの評価項目](images/IMG_0977.JPG)
'''
tags: []
isStarred: false
isTrashed: false
